@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.rateSection {
    position: relative;
    width: 100vw;
    min-height: 320px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    background: #111;
    .bgImage {
        position: absolute;
        inset: 0;
        background: url('../../../assets/images/PESSOA_COM_CELULAR.jpg') bottom center/cover no-repeat;
        z-index: 1;
        filter: brightness(0.5) blur(1px);
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        z-index: 2;
    }

    .container {
        @include container(1450px);
    }

    .content {
        position: relative;
        z-index: 3;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 2.5rem 4vw 2.5rem 5vw;
        min-width: 1480px;
        max-width: 1480px;
        text-align: left;
    }

    .title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 1.2rem;
    }

    .subtext {
        font-size: 1.1rem;
        margin-bottom: 0.2rem;
        font-weight: 400;
        opacity: 0.85;
    }

    .rateValue {
        font-size: 4.5rem;
        font-weight: 800;
        letter-spacing: -2px;
        margin-bottom: 0.2rem;
        line-height: 1;

        .percent {
            font-size: 2.2rem;
            font-weight: 700;
            margin-left: 0.2rem;
        }
    }

    .perMonth {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        opacity: 0.85;
    }

    .downloadText {
        font-size: 1.1rem;
        margin-bottom: 0.7rem;
        font-weight: 400;
        opacity: 0.85;
    }

    .stores {
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;

        .storeBtn {
            display: flex;
            align-items: center;
            background: transparent;
            border: none;
            padding: 0;

            img {
                height: 40px;
                width: auto;
                display: block;
            }
        }
    }

    @media (max-width: 700px) {
        min-height: 380px;

        .content {
            align-items: center;
            text-align: center;
            justify-content: center;
    
            min-width: 0;
            max-width: 100vw;
            padding: 7rem 1rem 4rem 1rem;
        }

        .stores {
            justify-content: center;
        }

        .rateValue {
            font-size: 3rem;

            .percent {
                font-size: 1.5rem;
            }
        }

        .title {
            font-size: 1.4rem;
        }
    }
}